$white: #ffff;
$grey: #b3b2b2;
$dark-purple: #0b0621;
$baby-blue: #00b5cc;
$dark-blue: #3c8cab;
$green: #b2df27;


:export {
  white: $white;
  dark-purple: $dark-purple;
  baby-blue: $baby-blue;
  green: $green;
  grey: $grey;
  dark-blue: $dark-blue;
}