$white: #cfd1d1;
$grey: #b3b2b2;
$dark-purple: #0b0621;
$baby-blue: #19bed6;
$dark-blue: #3c8cab;
$green: #8bcf21;


:export {
  white: $white;
  dark-purple: $dark-purple;
  baby-blue: $baby-blue;
  green: $green;
  grey: $grey;
  dark-blue: $dark-blue;
}