@import '../../../styles/sass/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  max-width: 230px;
  min-width: 230px;
  border-radius: 10px;
  box-shadow: 0 0 10px $baby-blue;

  .top {
    margin-bottom: -5px;

    .image {
      max-width: 100%;
      border-radius: 10px 10px 0px 0px;
    }
  }

  .text {
    padding: 5px;
    color: $white;
    font-family: 'Poppins';
    background: $dark-purple;
    height: 210px;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    border-radius: 0px 0px 10px 10px;

    .text__item {
      color: $green;
    }
  }
}
