@import '../../styles/sass/variables.scss';

@font-face {
  font-family: cartoon;
  src: url(../../static/fonts/get-schwifty.ttf);
  font-weight: normal;
}

.container {
  .content {
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    width: 1000px;
    max-height: 600px;

    .leftSide {
      background-color: transparent;
      border-radius: 10px;
      padding: 20px;

      .title {
        font-family: cartoon;
        font-size: 24px;
        color: $baby-blue;
        margin-bottom: 20px;
      }

      .text {
        line-height: 27px;
        font-size: 19px;
        font-family: 'Poppins';
        font-weight: 300;

        p {
          margin-bottom: 10px;
        }
      }
    }

    .rightSide {
      display: flex;
      background: transparent;
      height: 400px;
      margin-top: 100px;

      .rick {
        height: 450px;
      }

      .morty {
        height: 300px;
        margin-top: 150px;
      }
    }
  }
}
