@import '../../styles/sass/variables.scss';

.container {
  height: 100vh;

  .header {
    display: flex;
    justify-content: end;
    padding: 10px 10px 0 0;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      width: 1000px;
      margin-left: 100px;
      animation: Growth 1s ease-in-out;
    }

    .portal {
      animation: Breathing 5s linear infinite;
      width: 400px;
    }
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@keyframes Breathing {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}

@keyframes Growth {
  0% {
    transform: scale(0.7);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
