@import '../../styles/sass/variables.scss';

// body {
//   background: $dark-purple;
// }

.container {
  .header {
    display: flex;
    flex-direction: column;
    border: red solid 2px;
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    .name {
      width: 900px;
      margin-left: 100px;
      animation: Growth 1s ease-in-out;
    }

    .portal {
      animation: Breathing 6s linear infinite;
      width: 500px;
    }
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

@keyframes Breathing {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes Growth {
  0% {
    transform: scale(0.7);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
